{
  "extends": [
    "@nonsensebb/eslint-config-preact"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "shared-node-browser": true
  },
  "ignorePatterns": [
    "build/"
  ],
  "rules": {
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off"
  }
}
