@import "../../../../css/variables";

$loadingDuration: 2s;

.a-spinner {
  display: block;
  height: 2.1em;
  margin: 1.6em auto;
  pointer-events: none;
  position: relative;
  width: 2.1em;

  &__block {
    animation-duration: $loadingDuration;
    animation-fill-mode: forwards;
    animation-iteration-count: 0;
    animation-timing-function: ease-in-out;
    display: block;
    height: 1em;
    position: absolute;
    width: 1em;

    &--one {
      animation-name: a-spinner--one;
      background: $spinnerColor;
      transform: translate(0, 0);
    }

    &--two {
      animation-name: a-spinner--two;
      background: $spinnerAltColor;
      transform: translate(1.1em, 0);
    }

    &--three {
      animation-name: a-spinner--three;
      background: $spinnerColor;
      transform: translate(1.1em, 1.1em);
    }

    &--four {
      animation-name: a-spinner--four;
      background: $spinnerAltColor;
      transform: translate(0, 1.1em);
    }
  }

  &--active &__block {
    animation-iteration-count: infinite;
  }
}

@keyframes a-spinner--one {
  0% {
    transform: translate(0, 0);
  }

  6.25%,
  25% {
    transform: translate(1.1em, 0);
  }

  31.25%,
  50% {
    transform: translate(1.1em, 1.1em);
  }

  56.25%,
  75% {
    transform: translate(0, 1.1em);
  }

  81.25% {
    transform: translate(0, 0);
  }
}

@keyframes a-spinner--two {
  6.25% {
    transform: translate(1.1em, 0);
  }

  12.5%,
  31.25% {
    transform: translate(1.1em, 1.1em);
  }

  37.5%,
  56.25% {
    transform: translate(0, 1.1em);
  }

  62.5%,
  81.25% {
    transform: translate(0, 0);
  }

  87.5% {
    transform: translate(1.1em, 0);
  }
}

@keyframes a-spinner--three {
  12.5% {
    transform: translate(1.1em, 1.1em);
  }

  18.75%,
  37.5% {
    transform: translate(0, 1.1em);
  }

  43.75%,
  62.5% {
    transform: translate(0, 0);
  }

  68.75%,
  87.5% {
    transform: translate(1.1em, 0);
  }

  93.75% {
    transform: translate(1.1em, 1.1em);
  }
}

@keyframes a-spinner--four {
  18.75% {
    transform: translate(0, 1.1em);
  }

  25%,
  43.75% {
    transform: translate(0, 0);
  }

  50%,
  68.75% {
    transform: translate(1.1em, 0);
  }

  75%,
  93.75% {
    transform: translate(1.1em, 1.1em);
  }

  100% {
    transform: translate(0, 1.1em);
  }
}
